@model ViseVault.Models.Category
@{
    // Set the page title based on whether it's a new category or an edit operation
    ViewData["PageTitle"] = Model.CategoryId == 0 ? "Create a new category" : "Edit category";
}

<div class="row">
    <div class="col-md-7">
        <div class="widget p-5" style="background-color:#212b36">
            <form asp-action="AddOrEdit">
                <!-- Display model validation errors -->
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!-- Hidden field to store the CategoryId -->
                <input type="hidden" name="CategoryId" value="@Model.CategoryId" />
                <div class="mb-3">
                    <div class='e-btn-group custom-rbt-group'>
                        <!-- Radio buttons for selecting category type (Expense or Income) -->
                        <input type="radio" id="radioleft" name="Type" value="Expense" checked="@(Model.Type=="Expense")" />
                        <label class="e-btn" for="radioleft">Expense</label>
                        <input type="radio" id="radiomiddle" name="Type" value="Income" checked="@(Model.Type=="Income")" />
                        <label class="e-btn" for="radiomiddle">Income</label>
                    </div>
                </div>
                <!-- Textbox for entering the category title -->
                <div class="mb-3">
                    <ejs-textbox id="title" placeholder="Title" ejs-for="Title" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="Title" class="text-danger fs-6"></span>
                </div>
                <!-- Textbox for entering the category icon -->
                <div class="mb-3">
                    <ejs-textbox id="icon" placeholder="Icon" ejs-for="Icon" floatLabelType="Always"></ejs-textbox>
                </div>
                <!-- Button to submit the form -->
                <ejs-button id="submit" type="submit" content="Submit" cssClass="e-success"></ejs-button>
            </form>
        </div>
    </div>
    <div class="col-md-5">
        <!-- Display an icon representing the category -->
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-shapes fa-2xl"></i>
        </div>
    </div>
</div>
